CSS quilt
* {
    margin: 0;
}

.container {
    height:100vh;
    width:100%;
    background-color: yellow;
}

.item {
    float: left;
    width:33.33%;
    height:33.33vh;
}

.item1 { 
  background-color: green;
}

.item2 { 
  background-color: red;
}

.item3 {
  background-color: black;
}

.item4 {
  background color: lightgreen;
}

.item5 {
  background-color: bisque;
}